* {
    margin: 0px;
    padding: 0px;
}

.sectionprin {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(#d5e7f9da,
            #45454600),
        url(https://cdn.pixabay.com/photo/2014/08/30/06/49/singapore-431421__340.jpg);
    background-size: cover; */
    background: url(https://cdn.pixabay.com/photo/2014/08/30/06/49/singapore-431421__340.jpg);
    /*para que la iamgen cubra todo*/
    background-size: cover;

}

.sectionprin h1 {
    justify-content: center;
    text-align: center;
    border: solid #000;
    border-radius: 15px;
    font-size: 35px;
    padding: 2%;
    margin-bottom: 1%;
    background: rgba(240, 240, 240, 0.1);
    -webkit-text-stroke: 0.1px #f81f1f;
}

.sec-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.form-buscar {
    border: 2px solid #000000;
    border-radius: 12px;
    flex-direction: column;
    /* para agregar que se vea opaco */
    background: rgba(240, 240, 240, 0.46);
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 20px para mergenes laterales y 10 px para los superiores de los int entre input y lb*/
    margin: 12px 20px;
}


.btn-cal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-cal button {
    background-color: #007780;
    border: 0px;
    height: 30px;
    width: 100px;
    color: #fff;
    border-radius: 15px;
    /* pone como una mano sobre el boton con pointer*/
    cursor: pointer;

}

.btn-cal button:hover {
    /*Para el cursor el hover*/
    background-color: #fffb8a;
    border: 1px solid #008000;
    color: #000000;
    box-shadow: 10px 5px 16px 5px #1be3f9;
}

.textaDat {
    color: #000;
    width: 100%;
    /*height: 100vmax; */
    height: 50vh;
    background: transparent;
    background: rgba(240, 240, 240, 0.48);
}

.textaDat::placeholder {
    color: #000000;
}

.respuesta {
    background: rgba(240, 240, 240, 0.46);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.resultado h2 {
    /* Ponerle bordes al texto */
    color: #fff;
    -webkit-text-stroke: 0.2px #f81f1f;
}

.highlight {
    background-color: #aaff00;
}

.volver {
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    display: inline-block;
    width: 5%;
}

.volver:hover {
    background-color: #0fe0ce;
    border: 1px solid #fcfcfc;
    /* Cambiar el color de fodo cuando pase el cursor */
    color: #ff0000;
    box-shadow: 10px 5px 16px 5px #9d0cdb;
}