* {
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}
/**/
#contador{
    min-height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2022/08/03/13/09/moon-7362632__340.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Lo siguiete ayuda a opacar la imagen */
    /* background: linear-gradient(#d5e7f9bf,
            #45454600),
        url(https://cdn.pixabay.com/photo/2022/08/03/13/09/moon-7362632__340.jpg);
    background-size: cover; */
    /*cover para que la iamgen cubra todo*/

}

/**/

.tituloCarac {
    margin: 6px;
    padding: 0px;
    text-align: center;
    text-shadow: 2px 2px 4px #af020280;
    /* Agrega un espacio de 20 píxeles debajo del encabezado */
    padding-bottom: 10px;
}

.divprinCar {
    /* Convertir los dos div en columas */
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.divTexto {
    width: 50%;
}

.divContador {
    width: 50%;
    background-color: #8f8f8ffa;
    border: 2px solid #050505;
    /* Siguientes codigo para centrar el texto */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d77c7c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.ingresodeDat {
    width: 100%;
    height: 100%;
    resize: none;
    /*Permite que el textarea quede en un tamaño fijo*/
    font-family: 'Times New Roman', Times, serif;
    box-shadow: #0092c769;
    border-color: #8d4141;
}