* {
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}

.tituloCarac {
    margin: 6px;
    padding: 0px;
    text-align: center;
    text-shadow: 2px 2px 4px #af020280;
    /* Agrega un espacio de 20 píxeles debajo del encabezado */
    padding-bottom: 10px;
}

.divprinCar {
    /* Convertir los dos div en columas */
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.divTexto {
    width: 50%;


}


.divContador {
    width: 50%;
    background-color: #e8e8e8fa;
    border: 2px solid #050505;
    /* Siguientes codigo para centrar el texto */
    display: flex;
    justify-content: center;
    align-items: center;

}

.ingresodeDat {
    width: 100%;
    height: 100%;
    resize: none;
    /*Permite que el textarea quede en un tamaño fijo*/
    font-family: 'Times New Roman', Times, serif;
    box-shadow: #0092c769;
    border-color: #8d4141;
}