* {
    margin: 0px;
    padding: 0px;
    background-color: #cdcdcd;

}

#contador {
    min-height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2023/03/11/20/12/moon-7845194__340.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tituloCarac {
    border: 2px solid #f00707;
    text-align: center;
    /* Margen interior superior */
    padding-top: 10px;
    /* Margen Inferior interna*/
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(45deg, #faa051, #10659e, #e8d82a);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite
}

.divprinCar {
    /* Convertir los dos div en columas */
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.divTexto {
    width: 50%;
}

.divContador {
    width: 50%;
    background-color: #8f8f8ffa;
    border: 2px solid #050505;
    /* Siguientes codigo para centrar el texto */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d30000;
    /* 2em aumento del tamaño de letra */
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Ponerle bordes al texto */
    -webkit-text-stroke: 0.4px #ffffff;
}

.ingresodeDat {
    width: 100%;
    height: 100%;
    resize: none;
    /*Permite que el textarea quede en un tamaño fijo*/
    font-family: 'Times New Roman', Times, serif;
    box-shadow: #0092c769;
    border-color: #8d4141;
}

.volver {
    color: #000000;
    text-decoration: none;
}

.volver:hover {
    /* Cambiar el color de fodo cuando pase el cursor */
    color: #f9f9f9;
    background-color: #3c86f6;
    font-size: 19px;
    box-shadow: 10px 5px 16px 5px #73ff00;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}