* {
    margin: 0px;
    padding: 0px;
}

h1 {
    border: 2px solid #000;
    text-align: center;
    padding: 1%;
    color: aliceblue;
}

.secNumeros {
    position: fixed;
    width: 100%;
    height: 100vh;
    /* para centrar */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* 3opx para mergenes laterales y 20 px para los superiores de los int entre input y lb*/
    margin: 20px 30px;
    flex-wrap: wrap;
}

.form_numeros {
    border: 2px solid #ffffff;
    border-radius: 15px;
    background: rgba(240, 240, 240, 0.4);
}

.btn-calcular {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-calcular button {
    background-color: #0bab6b;
    border: 0px;
    height: 30px;
    width: 100px;
    color: #fff;
    border-radius: 15px;
    /* pone como una mano sobre el boton con pointer*/
    cursor: pointer;

}

.btn-calcular button:hover {
    /*Para el cursor el hover*/
    background-color: #ffffff;
    border: 1px solid #008000;
    color: #000000;
    box-shadow: 10px 5px 16px 5px #1be3f9;
}

.miVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* -1 para que quede detras de lo elementos */
    z-index: -1;
    /* se ajusta al tamaño del contendor */
    object-fit: cover;
}

.volver {
    color: #ffffff;
    text-decoration: none;
}

.volver:hover {
    /* Cambiar el color de fodo cuando pase el cursor */
    color: #3b92df;
    font-size: 19px;
    box-shadow: 10px 5px 16px 5px #e22b34;
}

.resultado {
    background: rgba(240, 240, 240, 0.9);
}