* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(15deg, #04060c, #850404, #4c120efd);
    /* background: linear-gradient(15deg, #000a20, #bb5d5d, #000a20); */
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}

.tituloInd {
    padding: 7%; 
    text-align: center;
    color: #f0f8ff;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.divpagPrin {
    margin: 5%;
   
    text-align: center;
     color: aliceblue;

}
/* Se creo el tipo de animación */
@keyframes BgGradient {
    0% {
        /* la imagen empieza en el extremo izquierdo */
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.secPaginaPrin a{
   color: aliceblue;
   font-size: 20px;
   /* Aumenta el grosor de la fuente */
   font-weight: bolder;
   text-decoration: none;
   padding: 5px;
}
   
.secPaginaPrin nav{
   /* establecer la posicion y el tamaño de navegación*/
   grid-area: navegacion;
}

.secPaginaPrin nav  a:hover{
    /* Cambiar el color de fodo cuando pase el cursor */
    color: #f0f8ff;
    background-color: #000000;
    border-bottom: 4px solid #575757;
    box-shadow: 10px 5px 16px 5px #0cdb35;
}
