* {
    margin: 0px;
    padding: 0px;
    /* permite eliminar los desplazadores */
    overflow: hidden;
}

.titulo {
    text-align: center;
    border: 1px solid #f46565;
    padding-top: 10px;
    padding-bottom: 10px;
    /* Ponerle bordes al texto */
    -webkit-text-stroke: 0.3px #1f60f8;
    background: rgba(240, 240, 240, 0.46);
}

.contenedor-prin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    justify-items: center;
    z-index: 0;

}

.contenido-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* 3opx para mergenes laterales y 8 px para los superiores de los int entre input y lb*/
    margin: 10px 20px;

}

.form-conten {
    /* estructura para el borde y margenes */
    border: 2px solid #ffffff;
    padding: 17px;
    border-radius: 15px;
    /* para que se vea como transparente */
    background: rgba(240, 240, 240, 0.46);
}

.contenido {
    border: 2px solid #622d2d;
    padding: 17px;
    border-radius: 15px;
    background: rgba(240, 240, 240, 0.46);
}

.btncalcular {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}
.btncalcular button {
    background-color: #008000;
    border: 0px;
    height: 30px;
    width: 100px;
    color: #fff;
    border-radius: 15px;
    /* pone como una mano sobre el boton con pointer*/
    cursor: url('https://cur.cursors-4u.net/anime/images11/ani1001.gif'), pointer;

}

.btncalcular button:hover{
      /*Para el cursor el hover*/
      background-color: #fff;
      border: 1px solid #008000;
      color: #008000;
}

.volver {
    text-decoration: none;
    color: #ffffff;
    position: fixed;
    /* para que pueda aparecer ya que con la imagen queda en la parte de abajo */
    z-index: 1;
    background: transparent;
}

.volver:hover {
    background-color: #34bb7a;
    border: 1px solid #00ffee;
    /* Cambiar el color de fodo cuando pase el cursor */
    color: #2c06ff;
    box-shadow: 10px 5px 16px 5px #0cdb16;
}



.miVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* -1 para que quede detras de lo elementos */
    z-index: -1;
    /* se ajusta al tamaño del contendor */
    object-fit: cover;
}